<div class="layuimini-container" xmlns="http://www.w3.org/1999/html">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        {#                        <div class="layui-inline">#}
                        {#                            <label class="layui-form-label" style="width: 90px">部门</label>#}
                        {#                            <div class="layui-input-inline" style="width: 110px">#}
                        {#                                <input type="text" id="departmentNameId" name="departmentName" autocomplete="off" class="layui-input">#}
                        {#                            </div>#}
                        {#                        </div>#}


                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">系统名称</label>
                            <div class="layui-input-inline" style="width: 110px">
                                <input type="text" id="systemNameId" name="systemName" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">部门名称</label>
                            <div class="layui-input-inline" style="width: 110px">
                                <select name="departmentName" id="departmentNameId" lay-title="required" lay-search="">
                                    <option value="">直接选择或搜索选择</option>
                                    <option value="平台中心研发">平台中心研发</option>
                                    <option value="平台中心安全">平台中心安全</option>
                                    <option value="平台中心运维">平台中心运维</option>



                                </select>
                            </div>
                        </div>


                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">域名</label>
                            <div class="layui-input-inline" style="width: 110px">
                                <input type="text" id="domainNameId" name="domainName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">SLB地址</label>
                            <div class="layui-input-inline" style="width: 110px">
                                <input type="text" id="SLBIPId" name="SLBIP" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        {#                        <div class="layui-inline">#}
                        {#                            <label class="layui-form-label" style="width: 90px">系统类型</label>#}
                        {#                            <div class="layui-input-inline" style="width: 110px">#}
                        {#                                <input type="text" id="systemTypeId" name="systemType" autocomplete="off" class="layui-input">#}
                        {#                            </div>#}
                        {#                        </div>#}

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">系统类型</label>
                            <div class="layui-input-inline" style="width: 110px">
                                <select name="systemType" id="systemTypeId"  autocomplete="off"  lay-search="">
                                    <option value="">直接选择或搜索选择</option>
                                    <option value="管理平台">管理平台</option>
                                    <option value="商户平台">商户平台</option>
                                    <option value="企业用户网站">企业用户网站</option>
                                    <option value="APP应用系统">APP应用系统</option>
                                    <option value="Web页面登录">Web页面登录</option>
                                    <option value="公众号小程序">公众号小程序</option>
                                    <option value="接口调用">接口调用</option>

                                </select>
                            </div>
                        </div>




                        {#                        <div class="layui-inline">#}
                        {#                            <label class="layui-form-label" style="width: 90px">系统状态</label>#}
                        {#                            <div class="layui-input-inline" style="width: 110px">#}
                        {#                                <input type="text" id="systemStatusId" name="systemStatus" autocomplete="off" class="layui-input">#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">系统状态</label>
                            <div class="layui-input-inline" style="width: 110px">
                                <select name="systemType" id="systemStatusId" autocomplete="off" lay-search="">
                                    <option value="">直接选择或搜索选择</option>
                                    <option value="使用中">使用中</option>
                                    <option value="已下线">已下线</option>
                                </select>
                            </div>
                        </div>


                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">开发单位</label>
                            <div class="layui-input-inline" style="width: 110px">
                                <input type="text" id="developmentCompanyId" name="developmentCompany" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" id="searchDomainId" lay-submit="" lay-filter="data-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>


        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>



    </div>
</div>



{#新增防火墙弹窗#}
<div class="site-text" style="width:98%; height:350px; margin: 30px 20px 30px 20px;  overflow:auto; display: none" id="addWorkFirewallOpenFormId"  target="test123">

    <div class="layui-form" id="myFormId" method="post" lay-filter="myFormFilter">


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">新增策略</label>
            <textarea class="layui-textarea layui-form-label" style="width: 550px; height: 300px; vertical-align:middle" name="addWorkFirewallPolicy" id="addWorkFirewallPolicyId" placeholder="json格式"></textarea>
            <button class="layui-btn layui-btn-normal layui-form-label" type="button" id="addWorkFirewallPolicyBtnId" lay-submit="" lay-filter="addWorkFirewallPolicyBtnFilter"  >立即提交</button>
        </div>


{#        <div class="layui-form-item layui-form-text">#}
{#            <label class="layui-form-label">新增IP组</label>#}
{#            <textarea class="layui-textarea layui-form-label" style="width: 550px" name="addWorkFirewallIPGroup" id="addWorkFirewallIPGroupId" placeholder="json格式"></textarea>#}
{#            <button class="layui-btn layui-btn layui-form-label" type="button" id="addWorkFirewallIPGroupBtnId" lay-submit="" lay-filter="addWorkFirewallIPGroupBtnFilter"  >立即提交</button>#}
{#        </div>#}
{##}
{##}
{##}
{#        <div class="layui-form-item layui-form-text">#}
{#            <label class="layui-form-label">新增服务</label>#}
{#            <textarea class="layui-textarea layui-form-label" style="width: 550px" name="addWorkFirewallServiceGroup" id="addWorkFirewallServiceGroupId" placeholder="json格式"></textarea>#}
{#            <button class="layui-btn layui-btn-normal layui-form-label" type="button" id="addWorkFirewallServiceGroupBtnId" lay-submit="" lay-filter="addWorkFirewallServiceGroupBtnFilter"  >立即提交</button>#}
{#        </div>#}
{##}
{##}
{#        <div class="layui-form-item layui-form-text">#}
{#            <label class="layui-form-label">NAT策略</label>#}
{#            <textarea class="layui-textarea layui-form-label" style="width: 550px" name="addWorkFirewallNat" id="addWorkFirewallNatId" placeholder="json格式"></textarea>#}
{#            <button class="layui-btn layui-btn-warm layui-form-label" type="button" id="addWorkFirewallNatBtnId" lay-submit="" lay-filter="addWorkFirewallNatBtnFilter"  >立即提交</button>#}
{#        </div>#}

    </div>



    {#编辑防火墙弹窗#}
    <div class="site-text" style="width:98%; height:600px; margin: 30px 20px 30px 20px;  overflow:auto; display: none" id="addDomainOpenFormId"  target="test123">

        <form class="layui-form" id="myFormId" method="post" lay-filter="myFormFilter">


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">部门名称</label>
                    <div class="layui-input-inline" style="width: 250px">
                        <select name="departmentName" id="departmentNameOpenId" lay-title="required" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            <option value="平台中心研发">平台中心研发</option>
                            <option value="平台中心安全">平台中心安全</option>
                            <option value="平台中心运维">平台中心运维</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">系统类型</label>
                    <div class="layui-input-inline" style="width: 260px">
                        <select name="systemType" id="systemTypeOpenId" lay-verify="title" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            <option value="管理平台">管理平台</option>
                            <option value="商户平台">商户平台</option>
                            <option value="企业用户网站">企业用户网站</option>
                            <option value="APP应用系统">APP应用系统</option>
                            <option value="Web页面登录">Web页面登录</option>
                            <option value="公众号小程序">公众号小程序</option>
                            <option value="接口调用">接口调用</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">系统名称</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="text" name="systemName" id="systemNameOpenId" lay-verify="title"  autocomplete="off" placeholder="系统名称"  class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">域名</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="text" name="domainName" id="domainNameOpenId" lay-verify="title"  autocomplete="off" placeholder="域名"  disabled="disabled" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">SLB地址</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="text" name="SLBIP" id="SLBIPOpenId"  lay-verify="title" autocomplete="off" placeholder="SLB地址"  class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">SLB端口</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="text" name="SLBPort" id="SLBPortOpenId"  lay-verify="title" autocomplete="off" placeholder="SLB端口"  class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">访问URL</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="text" name="accessURL" id="accessURLOpenId" lay-verify="title" autocomplete="off" placeholder="访问URL" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">开发单位</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="text" name="developmentCompany" id="developmentCompanyOpenId" lay-verify="title" autocomplete="off" placeholder="开发单位" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">业务联系人</label>
                    <div class="layui-input-inline" style="width: 260px">
                        <input type="text" name="businessPeople" id="businessPeopleOpenId" lay-verify="title" autocomplete="off" placeholder="业务联系人" class="layui-input">

                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">业务电话</label>
                    <div class="layui-input-inline" style="width: 260px">
                        <input type="text" name="businessPhone" id="businessPhoneOpenId" lay-verify="title" autocomplete="off" placeholder="业务电话" class="layui-input">

                    </div>

                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">项目经理</label>
                    <div class="layui-input-inline" style="width: 260px">
                        <input type="text" name="DevelopPeople" id="DevelopPeopleOpenId" lay-verify="title" autocomplete="off" placeholder="项目经理" class="layui-input">

                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">经理电话</label>
                    <div class="layui-input-inline" style="width: 260px">
                        <input type="text" name="DevelopPhone" id="DevelopPhoneOpenId" lay-verify="title" autocomplete="off" placeholder="经理电话" class="layui-input">
                    </div>
                </div>

            </div>




            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline" style="width: 260px">
                        <input type="text" name="systemUsername" id="systemUsernameOpenId" lay-verify="pass" placeholder="用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline" style="width: 260px">
                        <input type="text" name="systemPassword" id="systemPasswordOpenId" lay-verify="pass" placeholder="密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">系统状态</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="checkbox" checked="" name="systemStatusOpen" id="systemStatusOpenId" lay-skin="switch" lay-filter="systemStatusFilter" lay-text="使用中|已下线">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">外网访问</label>
                    <div class="layui-input-block" style="width: 260px">
                        <input type="checkbox" checked="" name="extranetAccessOpen" id="extranetAccessOpenId" lay-skin="switch" lay-filter="extranetAccessFilter" lay-text="开放访问|本地访问">
                    </div>
                </div>


            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">ECS地址</label>
                <div class="layui-input-block">
                    <input type="text" name="ECSIPOpen" id="ECSIPOpenId" placeholder="ECS地址" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block" style="width: 655px">
                    <textarea placeholder="请输入内容" name="systemDescribe" id="systemDescribeOpenId" placeholder="描述信息" class="layui-textarea"></textarea>
                </div>
            </div>



            <div class="layui-form-item " style="text-align:center">
                <div class="layui-input-block ">
                    <button class="layui-btn" type="button" id="adddomainSubmitOpenFormId" lay-submit="" lay-filter="adddomain-btn-OpenForm-Filter" style="margin-right: 10px" >立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-normal" style="margin-right: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp; </button>
                    <button type="button" class="layui-btn layui-btn-warm" id="adddomainCancleId" lay-submit="" lay-filter="adddomainCancleOpenForm-Filter"  style=" margin-right: 150px"> &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp; </button>
                </div>
            </div>






        </form>


    </div>





    <script type="text/html" id="optionToolbar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="selectToolbar">
        <div class="layui-btn-container">

            <button class="layui-btn layui-btn-sm data-add-btn" href="javascript:;" data-title="新增域名" data-icon="fa fa-gears" lay-event="addWorkFirewallEvent">
                <i class="layui-icon">&#xe608;</i>
                新增域名
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>

            <button type="button" class="layui-btn layui-btn-sm data-download-btn layui-btn-normal" id="downloadDomainTemplateFileId" name="downloadDomainTemplateFile">
                {#                    <a href="/Assets/downloadDomainTemplateFile/" style="color: blue; font-size: 14px">#}
                <a href="/Assets/downloadWorkFirewallPolicyTemplateFile/" style="color: white; font-size: 12px">
                    <i class="layui-icon">&#xe601;</i>
                    下载模板
                </a>
            </button>



            <button type="button" class="layui-btn layui-btn-sm" id="selectFileId" name="selectFile">选择文件（Policy.xls）</button>
            <button type="button" class="layui-btn layui-btn-sm" id="startUploadId" name="startUpload">
                <i class="layui-icon">&#xe681;</i>
                开始上传
            </button>


            <button class="layui-btn layui-btn-sm layui-btn-normal" href="javascript:;" data-title="初始化" data-icon="fa fa-gears" lay-event="initPolicy">
                <i class="layui-icon">&#xe639;</i>
                初始化
            </button>



            <button class="layui-btn layui-btn-sm data-delete-btn layui-btn-danger" lay-event="deleteAll">
                <i class="layui-icon">&#xe640;</i>
                全部删除
            </button>

            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="downloadAll">
                <a href="/Assets/downloadWorkFirewallPolicyAllToFile/" style="color: white; font-size: 12px">
                    <i class="layui-icon">&#xe641;</i>
                    批量下载
            </button>


        </div>
    </script>



    <script>



        layui.use(['form', 'layer', 'table', 'upload', 'layedit', 'laydate'], function () {
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                upload = layui.upload,
                layedit = layui.layedit,
                laydate = layui.laydate,
                layer = layui.layer;

            table.render({
                elem: '#currentTableId'
                ,url: 'Assets/getWorkFirewallPolicyList/'
                ,toolbar: '#selectToolbar'//开启头部工具栏，并为其绑定左侧模板
                ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    ,layEvent: 'LAYTABLE_TIPS'
                    ,icon: 'layui-icon-tips'
                }]
                {#,initSort: {field:'cnvdNumber', type:'desc'}#}
                ,cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    ,{type: 'numbers', title: '序号', align:"center", sort: true,fixed: 'left',width:80,}

                    ,{field:'name', title:'name', width:300, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'src_ip', title:'src_ip', width:300, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'src_ip_content', title:'src_ip_content', width:300, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'dst_ip', title:'dst_ip', width:300, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'dst_ip_content', title:'dst_ip_content', width:300, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'service_app', title:'service_app', width:300, align:'center', sort: true, totalRowText: 'text'}
                    {#,{field:'description', title:'description', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    ,{field:'status', title:'status', width:100, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'group', title:'group', width:100, align:'center', sort: true, totalRowText: 'text'}
                    {#,{field:'log', title:'log', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    ,{field:'priority', title:'priority', width:120, align:'center', sort: true, totalRowText: 'text'}
                    {#,{field:'conflict_num', title:'conflict_num', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'num', title:'num', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    ,{field:'active_time', title:'active_time', width:200, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'src_zone', title:'src_zone', width:120, align:'center', sort: true, totalRowText: 'text'}
                    ,{field:'dst_zone', title:'dst_zone', width:120, align:'center', sort: true, totalRowText: 'text'}
                    {#,{field:'invalid_id', title:'invalid_id', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'last_hittime', title:'last_hittime', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    ,{field:'not_hit_day', title:'not_hit_day', width:120, align:'center', sort: true, totalRowText: 'text'}
                    {#,{field:'create_time', title:'create_time', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'highlight', title:'highlight', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'invalid_name', title:'invalid_name', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'action', title:'action', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'src_port', title:'src_port', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'is_sc_create', title:'is_sc_create', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    {#,{field:'down_interface', title:'down_interface', width:160, align:'center', sort: true, totalRowText: 'text'}#}
                    ,{field:'hit', title:'hit', width:120, align:'center', sort: true, totalRowText: 'text'}


                    {#,{fixed:'right', title:'操作', width:200, align:'center', toolbar: '#optionToolbar',totalRow: true}#}


                ]]
                ,limits: [10, 50, 100, 150, 200, 300, 500]
                {#需要在后台一起处理#}
                ,limit: 13
                ,page: true
                ,title: '用户数据表'

            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var departmentName = $('#departmentNameId').val();
                var systemName = $('#systemNameId').val();
                var domainName = $('#domainNameId').val();
                var SLBIP = $('#SLBIPId').val();
                var systemType = $('#systemTypeId').val();
                var systemStatus = $('#systemStatusId').val();
                var developmentCompany = $('#developmentCompanyId').val();

                table.reload('currentTableId', {
                    url: 'Assets/searchdomain/'
                    {#,methods:"post"#}
                    ,request: {
                        pageName: 'page' //页码的参数名称，默认：page
                        , limit: 'limit' //每页数据量的参数名，默认：limit
                    }
                    ,where: {
                        departmentName : departmentName
                        ,systemName : systemName
                        ,domainName : domainName
                        ,SLBIP : SLBIP
                        ,systemType : systemType
                        ,systemStatus : systemStatus
                        ,developmentCompany : developmentCompany
                    }
                    ,page: {
                        curr: 1
                    }
                });
                {#return false;#}
            });








            //头工具栏事件  未全选
            table.on('toolbar(currentTableFilter)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选': '未全选');
                        break;

                    // 监听头工具删除操作  请确认是否全部删除
                    case 'deleteAll':
                        layer.alert("请确认是否全部删除",{
                            icon: 7
                            ,title: '提示'
                            ,btn: ['全部删除', '取消']
                            ,shadeClose: true
                            ,shade: 0 //遮罩透明度
                            ,yes:function(index, layero){
                                $.post('/Assets/deleteWorkfirewallpolicyfileAll/',{
                                    deleteAll: "yes"
                                },function(data){
                                    //根据后台返回的参数，来进行判断
                                    if(data == "success"){
                                        layer.alert('全部删除成功',{
                                            icon:1
                                            ,title:'提示'
                                        },function(i){
                                            layer.close(i);
                                            layer.close(index);//关闭弹出层
                                            {#$("#book")[0].reset()//重置form#}


                                        });
                                        table.reload('currentTableId',{//重载表格
                                            page:{
                                                curr:1
                                            }
                                        })
                                    }

                                });
                            }
                            ,btn2: function(index, layero){
                                layer.close(index);//关闭弹出层
                            }
                        });
                        break;


                    // 监听头工具初始化操作  请确认是否初始化
                    case 'addWorkFirewallEvent':
                        layer.open({
                            type: 1 //Page层类型
                            ,skin: 'layui-layer-molv'
                            ,area: ['auto']
                            ,closeBtn: 1 //显示关闭按钮
                            ,title: ['编辑资产信息','font-size:16px']
                            ,shadeClose: true
                            ,shade: 0 //遮罩透明度
                            ,maxmin: true //允许全屏最小化
                            ,offset: "70px"
                            ,btn: ["取消"]
                            ,content:$("#addWorkFirewallOpenFormId")  //弹窗路径


                        });
                        break;




                    // 监听头工具初始化操作  请确认是否初始化
                    case 'initPolicy':
                        layer.alert("请确认是否初始化",{
                            icon: 3
                            ,title: '提示'
                            ,btn: ['初始化', '取消']
                            ,shadeClose: true
                            ,shade: 0 //遮罩透明度
                            ,yes:function(index, layero){
                                $.post('/Assets/initworkfirewallpolicyfile/',{
                                    init: "yes"
                                },function(data){
                                    //根据后台返回的参数，来进行判断
                                    if(data == "success"){
                                        layer.alert('初始化成功',{
                                            icon:1
                                            ,title:'提示'
                                        },function(i){
                                            layer.close(i);
                                            layer.close(index);//关闭弹出层
                                            {#$("#book")[0].reset()//重置form#}
                                        });
                                        table.reload('currentTableId',{//重载表格
                                            page:{
                                                curr:1
                                            }
                                        })
                                    }else{
                                        layer.alert(data,{
                                            icon:2
                                            ,title:'提示'
                                        },function(i){
                                            layer.close(i);
                                            layer.close(index);//关闭弹出层
                                            {#$("#book")[0].reset()//重置form#}
                                        });
                                        table.reload('currentTableId',{//重载表格
                                            page:{
                                                curr:1
                                            }
                                        })
                                    }
                                });
                            }
                            ,btn2: function(index, layero){
                                layer.close(index);//关闭弹出层
                            }
                        });
                        break;












                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                }
            });




            //监听行工具事件  查看资产信息
            table.on('tool(currentTableFilter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据（json格式的键值对）
                    {#,layEvent = obj.event //获得 lay-event 对应的值（编辑、删除、添加）#}
                    ,editList=[]; //存放获取到的那条json数据中的value值（不放key）
                $.each(
                    data,function(name,value) {//循环遍历json数据
                        editList.push(value);
                        //将json数据中的value放入数组中（下面的子窗口显示的时候要用到）
                    });

                if(obj.event === 'detail'){
                    {#layer.msg('domainName：'+ data.domainName + ' 的查看操作');#}

                    layer.open({
                        type: 1 //Page层类型
                        ,skin: 'layui-layer-molv'
                        ,scrollbar: true
                        ,area: ['auto']
                        ,maxHeight: "400px"
                        ,closeBtn: 1 //显示关闭按钮
                        ,title: ['查看资产信息','font-size:16px']
                        {#,btn: ['关闭']#}
                        ,shadeClose: true
                        ,shade: 0 //遮罩透明度
                        ,maxmin: true //允许全屏最小化
                        ,content:$("#addDomainOpenFormId")  //弹窗路径
                        ,offset: "70px"


                        ,success:function(layero){


                            {#var btn = layero.find('.layui-layer-btn');#}
                            {#btn.css('text-align', 'center');#}
                            $('#departmentNameOpenId').val(data.departmentName);
                            $('#systemTypeOpenId').val(data.systemType);
                            $('#systemNameOpenId').val(data.systemName);
                            $('#domainNameOpenId').val(data.domainName);
                            $('#SLBIPOpenId').val(data.SLBIP );
                            $('#SLBPortOpenId').val(data.SLBPort );
                            $('#accessURLOpenId').val(data.accessURL);
                            $('#developmentCompanyOpenId').val(data.developmentCompany);
                            $('#businessPeopleOpenId').val(data.businessPeople);
                            $('#businessPhoneOpenId').val(data.businessPhone);
                            $('#DevelopPeopleOpenId').val(data.DevelopPeople);
                            $('#DevelopPhoneOpenId').val(data.DevelopPhone);
                            $('#systemUsernameOpenId').val(data.systemUsername);
                            $('#systemPasswordOpenId').val(data.systemPassword);
                            {#$('#systemStatusOpenId').val(data.systemStatus);#}
                            {#$('#extranetAccessOpenId').val(data.extranetAccess);#}
                            $('#systemDescribeOpenId').val(data.systemDescribe);
                            {#$('#systemStatusOpenId').removeAttr("checked");#}
                            {#$('#systemStatusOpenId').prop('checked', false);#}

                            {#layer.alert(data.extranetAccess);#}
                            if(data.systemStatus == "使用中"){
                                $("#systemStatusOpenId").attr("checked",true);
                            }else if(data.systemStatus == "已下线"){
                                $("#systemStatusOpenId").attr("checked",false);
                            };

                            if(data.extranetAccess == "开放访问"){
                                $("#extranetAccessOpenId").attr("checked",true);
                            }else if(data.extranetAccess == "本地访问"){
                                $("#extranetAccessOpenId").attr("checked",false);
                            };

                            {## 初始化表单，要加上，不然刷新部分组件可能会不加载#}
                            form.render();


                        },yes:function(i){
                            layer.close(i);
                            layer.close(index);//关闭弹出层
                            {#$("#book")[0].reset()//重置form#}
                            table.reload('currentTableId', {//重载表格
                                page: {
                                    curr: 1
                                }
                            })
                        }

                    });


                } else if(obj.event === 'del'){
                    layer.msg('domainName：'+ data.domainName + ' 的删除操作');
                    obj.del();
                    {#layer.close(index);#}
                    layer.confirm('您确定要删除该域名吗?',{btn: ['确定', '取消'],icon:7,title:"提示"}, function(){
                        $.post('/Assets/deletedomainforline/',{
                            delete: "yes"
                            ,domainName: data.domainName
                            ,SLBIP: data.SLBIP
                            ,systemName: data.systemName
                        },function(data){
                            //根据后台返回的参数，来进行判断
                            if(data == "success"){
                                layer.alert('删除成功',{
                                    icon:1
                                    ,title:'提示'
                                },function(i){
                                    layer.close(i);
                                    layer.close(index);//关闭弹出层
                                    {#$("#currentTableId")[0].reset()//重置form#}
                                });
                                table.reload('currentTableId',{//重载表格
                                    page:{
                                        curr:1
                                    }
                                })
                            }
                        });


                    });

                }
                else if(obj.event === 'edit'){

                    {#$("[name='a']").val("456");#}

                    {#layer.msg('domainName：'+ obj.data.domainName + ' 的编辑操作');#}
                    layer.open({
                        type: 1 //Page层类型
                        ,skin: 'layui-layer-molv'
                        ,area: ['auto']

                        {#,area: ['300', '300']#}
                        ,closeBtn: 1 //显示关闭按钮
                        ,title: ['编辑资产信息','font-size:16px']
                        {#,btn: ['立即修改', '取消']#}
                        ,shadeClose: true
                        ,shade: 0 //遮罩透明度
                        ,maxmin: true //允许全屏最小化
                        ,offset: "70px"
                        ,content:$("#addDomainOpenFormId")  //弹窗路径
                        ,success:function(layero){

                            var btn = layero.find('.layui-layer-btn');
                            btn.css('text-align', 'center');
                            $('#departmentNameOpenId').val(data.departmentName);
                            $('#systemTypeOpenId').val(data.systemType);
                            $('#systemNameOpenId').val(data.systemName);
                            $('#domainNameOpenId').val(data.domainName);
                            $('#SLBIPOpenId').val(data.SLBIP );
                            $('#SLBPortOpenId').val(data.SLBPort );
                            $('#accessURLOpenId').val(data.accessURL);
                            $('#developmentCompanyOpenId').val(data.developmentCompany);
                            $('#businessPeopleOpenId').val(data.businessPeople);
                            $('#businessPhoneOpenId').val(data.businessPhone);
                            $('#DevelopPeopleOpenId').val(data.DevelopPeople);
                            $('#DevelopPhoneOpenId').val(data.DevelopPhone);
                            $('#systemUsernameOpenId').val(data.systemUsername);
                            $('#systemPasswordOpenId').val(data.systemPassword);
                            $('#systemDescribeOpenId').val(data.systemDescribe);
                            {#$('#systemStatusOpenId').removeAttr("checked");#}
                            {#$('#systemStatusOpenId').prop('checked', false);#}

                            {#layer.alert(data.extranetAccess);#}
                            if(data.systemStatus == "使用中"){
                                $("#systemStatusOpenId").attr("checked",true);
                            }else if(data.systemStatus == "已下线"){
                                $("#systemStatusOpenId").attr("checked",false);
                            };

                            if(data.extranetAccess == "开放访问"){
                                $("#extranetAccessOpenId").attr("checked",true);
                            }else if(data.extranetAccess == "本地访问"){
                                $("#extranetAccessOpenId").attr("checked",false);
                            };

                            {## 初始化表单，要加上，不然刷新部分组件可能会不加载#}
                            form.render();


                        },yes:function(i){

                            {#调试单选康值#}
                            {#layer.alert($("#extranetAccessOpenId").is(':checked'));#}
                            {#layer.alert($("input[name='extranetAccessOpen']:checked").val();#}
                            {#return false;#}

                            $.ajax({
                                url: '/Assets/editDomainsubmit/',
                                type: 'post',
                                dataType: 'json', //预期返回类型
                                data: {
                                    departmentName: $('#departmentNameOpenId').val(),
                                    systemType: $('#systemTypeOpenId').val(),
                                    systemName: $('#systemNameOpenId').val(),
                                    domainName: $('#domainNameOpenId').val(),
                                    SLBIP: $('#SLBIPOpenId').val(),
                                    SLBPort: $('#SLBPortOpenId').val(),
                                    accessURL: $('#accessURLOpenId').val(),
                                    developmentCompany: $('#developmentCompanyOpenId').val(),
                                    businessPeople: $('#businessPeopleOpenId').val(),
                                    businessPhone: $('#businessPhoneOpenId').val(),
                                    DevelopPeople: $('#DevelopPeopleOpenId').val(),
                                    DevelopPhone: $('#DevelopPhoneOpenId').val(),
                                    systemUsername: $('#systemUsernameOpenId').val(),
                                    systemPassword: $('#systemPasswordOpenId').val(),


                                    {#获取单选框植,不正确#}
                                    {#systemStatus: $('#systemStatusOpenId').val(),#}
                                    {#extranetAccess: $('#extranetAccessOpenId').val(),#}
                                    {#systemStatus: $("input[name='systemStatusOpen']:checked").val(),#}
                                    {#extranetAccess: $("input[name='extranetAccessOpen']:checked").val(),#}

                                    {#判断单选框植是否为 on 状态#}
                                    systemStatus: $("#systemStatusOpenId").is(':checked'),
                                    extranetAccess: $("#extranetAccessOpenId").is(':checked'),

                                    systemDescribe: $('#systemDescribeOpenId').val(),
                                },
                                success:function(data){
                                    if(data == "success"){

                                        layer.alert("修改成功",{ icon:1,title:'提示'},function(index){
                                            layer.close(index);
                                            window.location = ("/#/Assets/domain/");

                                        });
                                    }else{
                                        layer.alert(data,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                                    }
                                },

                            });
                            layer.close(i);
                            layer.close(index);//关闭弹出层
                            {#$("#book")[0].reset()//重置form#}
                            table.reload('currentTableId', {//重载表格
                                page: {
                                    curr: 1
                                }
                            })
                        }

                    });
                }

            });



            //弹出层提交新增策略按钮
            form.on('submit(addWorkFirewallPolicyBtnFilter)', function (data) {
                $.ajax({
                    url: '/Assets/addWorkFirewallPolicySubmit/',
                    type: 'post',
                    dataType: 'json', //预期返回类型
                    data: {
                        addWorkFirewallPolicy: $('#addWorkFirewallPolicyId').val()
                    },
                    success:function(data){
                        if(data == "success"){

                            layer.alert("修改成功",{
                                icon:1
                                ,title:'提示'
                                ,yes: function(index, layero){
                                    layer.close(index);
                                }
                            });

                        }else{
                            layer.alert(data,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                        }
                    },


                });
            });



            //选完文件后不自动上传
            upload.render({
                elem: '#selectFileId'
                ,url: 'Assets/uploadworkfirewallpolicyfile/'
                ,auto: false            //是否选完文件后自动上传
                //,multiple: true       //是否允许多文件上传
                ,bindAction: '#startUploadId'
                ,accept: 'file' //允许上传的文件类型

                ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    layer.load(); //上传loading
                }

                ,done: function(res, index, upload){
                    if (res.code == 0){
                        layer.closeAll('loading'); //关闭loading
                        layer.alert("上传成功",{
                            icon:1
                            ,title:'提示'
                        });
                    }
                }
            });







        });
    </script>