<div class="layuimini-container" xmlns="http://www.w3.org/1999/html">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">



                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">项目名称</label>
                            <div class="layui-input-inline" style="width: 150px">
                                <input type="text" id="projectNameId" name="projectName" autocomplete="off" class="layui-input">
                            </div>
                        </div>



                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">项目描述</label>
                            <div class="layui-input-inline" style="width: 150px">
                                <input type="text" id="projectDescId" name="projectDesc" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">业务联系</label>
                            <div class="layui-input-inline" style="width: 150px">
                                <input type="text" id="businessPeopleId" name="businessPeople" autocomplete="off" class="layui-input">
                            </div>
                        </div>


                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 90px">开发联系</label>
                            <div class="layui-input-inline" style="width: 150px">
                                <input type="text" id="developPeopleId" name="developPeople" autocomplete="off" class="layui-input">
                            </div>
                        </div>



                        <div class="layui-inline">
                            <a class="layui-btn" id="searchProjectNameId" lay-submit="" lay-filter="data-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>


        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>



{#添加按钮弹窗#}
<div class="site-text" style="width:900px; height:400px; margin: 30px 20px 30px 20px;  overflow:auto; display: none" id="addProjectNameOpenFormId"  target="test123">

    <form class="layui-form" id="myFormId" method="post" lay-filter="myFormFilter">









        <div class="layui-form-item">



            <div class="layui-inline">
                <label class="layui-form-label">项目名称<span style="color: #FF0000; ">*</span></label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="projectNameOpen" id="projectNameOpenId" lay-verify="required" lay-reqtext="项目名称是必填项，不能为空" placeholder="项目名称" autocomplete="off" class="layui-input">                    </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label ">项目描述</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="projectDescOpen" id="projectDescOpenId" lay-verify="pass" lay-reqtext="项目描述是必填项，不能为空" placeholder="项目描述" autocomplete="off" class="layui-input">                    </div>
            </div>


        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" >业务联系人</label>
                <div class="layui-input-inline"  style="width: 300px">
                    <input type="text" name="businessPeopleOpen" id="businessPeopleOpenId" lay-verify="pass" placeholder="业务联系人" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系方式</label>
                <div class="layui-input-inline"  style="width: 300px">
                    <input type="text" name="businessPhoneOpen" id="businessPhoneOpenId" lay-verify="pass" placeholder="业务联系方式" autocomplete="off" class="layui-input">
                </div>
            </div>


        </div>




        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">开发联系人</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="developPeopleOpen" id="developPeopleOpenId" lay-verify="pass"  placeholder="开发联系人" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-inline">
                <label class="layui-form-label">联系方式</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="developPhoneOpen" id="developPhoneOpenId" lay-verify="pass"  placeholder="开发联系方式" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">开发单位</label>
            <div class="layui-input-block" style="width: 735px">
                <input type="text" name="developmentCompanyOpen" id="developmentCompanyOpenId" lay-verify="pass"  placeholder="开发单位" autocomplete="off" class="layui-input">
            </div>
        </div>




        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block" style="width: 735px">
                <textarea placeholder="请输入内容" name="commonOpen" id="commonOpenId" placeholder="描述信息" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item " style="text-align:center">
            <div class="layui-input-block ">
{#                <button type="button" class="layui-btn" onclick="addProjectNamemsg()" lay-filter="addProjectName-btn-Filter" style="margin-right: 150px">立即提交</button>#}
{#                <button class="layui-btn" lay-filter="addProjectName-btn-Filter" style="margin-right: 150px">立即提交</button>#}
{#                <button class="layui-btn" type="button" id="addProjectNameSubmitOpenFormId" lay-submit="" lay-filter="addProjectName-btn-OpenForm-Filter" style="margin-right: 150px" onclick="addProjectNameOpenFormSubmit()">立即提交</button>#}
                <button class="layui-btn" type="button" id="addProjectNameSubmitOpenFormId" lay-submit="" lay-filter="addProjectName-btn-OpenForm-Filter" style="margin-right: 10px" >立即提交</button>
                <button type="reset" class="layui-btn layui-btn-normal" style="margin-right: 10px"> &nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp; </button>
                <button type="button" class="layui-btn layui-btn-warm" id="addProjectNameCancleId" lay-submit="" lay-filter="addProjectNameCancleOpenForm-Filter"  style=" margin-right: 150px"> &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp; </button>
            </div>
        </div>

    </form>


</div>





<script type="text/html" id="optionToolbar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="selectToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm data-add-btn" href="javascript:;" data-content-href="ProjectName/addProjectNamepage/" data-title="基本资料" data-icon="fa fa-gears">
            <i class="layui-icon">&#xe608;</i>
            新增数据
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>

        <button type="button" class="layui-btn layui-btn-sm data-download-btn layui-btn-normal" id="downloadProjectNameTemplateFileId" name="downloadProjectNameTemplateFile">
            {#                    <a href="/ProjectName/downloadProjectNameTemplateFile/" style="color: blue; font-size: 14px">#}
            <a href="/ProjectName/downloadProjectNameTemplateFile/" style="color: white; font-size: 12px">
                <i class="layui-icon">&#xe601;</i>
                下载模板
            </a>
        </button>
        <button type="button" class="layui-btn layui-btn-sm" id="selectFileId" name="selectFile">选择文件（ProjectName.xls）</button>
        <button type="button" class="layui-btn layui-btn-sm" id="startUploadId" name="startUpload">
            <i class="layui-icon">&#xe681;</i>
            开始上传
        </button>

        <button class="layui-btn layui-btn-sm layui-btn-normal" href="javascript:;" data-title="初始化" data-icon="fa fa-gears" lay-event="initProjectName">
            <i class="layui-icon">&#xe639;</i>
            初始化
        </button>

        <button class="layui-btn layui-btn-sm data-delete-btn layui-btn-danger" lay-event="deleteAll">
            <i class="layui-icon">&#xe640;</i>
            全部删除
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="downloadAll">
            <a href="/ProjectName/downloadProjectNameAllToFile/" style="color: white; font-size: 12px">
            <i class="layui-icon">&#xe641;</i>
            批量下载
        </button>







    </div>
</script>



<script>



    layui.use(['form', 'layer', 'table', 'upload', 'layedit', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            upload = layui.upload,
            layedit = layui.layedit,
            laydate = layui.laydate,
            layer = layui.layer;

        table.render({
            elem: '#currentTableId'
            ,url: 'ProjectName/getProjectNamelist/'
            ,toolbar: '#selectToolbar'//开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            {#,initSort: {field:'cnvdNumber', type:'desc'}#}
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{type: 'numbers', title: '序号', align:"center", sort: true,fixed: 'left',width:80,}


                ,{field:'projectName', title:'项目名称', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'projectDesc', title:'项目描述', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'businessPeople', title:'业务联系人', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'businessPhone', title:'业务联系方式', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'developPeople', title:'开发联系人', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'developPhone', title:'开发联系方式', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'developmentCompany', title:'开发单位', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'common', title:'备注', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'createTime', title:'创建时间', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'updateTime', title:'修改时间', width:160, align:'center', sort: true, totalRowText: 'text'}
                ,{field:'createPeople', title:'创建人', width:160, align:'center', sort: true, totalRowText: 'text'}


                ,{fixed:'right', title:'操作', width:200, align:'center', toolbar: '#optionToolbar',totalRow: true}

            ]]
            ,limits: [10, 20, 30, 50, 100]
            {#需要在后台一起处理#}
            ,limit: 13
            ,page: true
            ,title: '项目名联系表'

        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {

            var projectName = $('#projectNameId').val();
            var projectDesc = $('#projectDescId').val();
            var businessPeople = $('#businessPeopleId').val();
            var developPeople = $('#developPeopleId').val();

            table.reload('currentTableId', {
                url: 'ProjectName/searchProjectName/'
                {#,methods:"post"#}
                ,request: {
                    pageName: 'page' //页码的参数名称，默认：page
                    , limit: 'limit' //每页数据量的参数名，默认：limit
                }
                ,where: {
                    projectName : projectName
                    ,projectDesc : projectDesc
                    ,businessPeople : businessPeople
                    ,developPeople : developPeople
                }
                ,page: {
                    curr: 1
                }
            });
            {#return false;#}
        });



        //选完文件后不自动上传
        upload.render({
            elem: '#selectFileId'
            ,url: 'ProjectName/uploadProjectNamefile/'
            ,auto: false            //是否选完文件后自动上传
            //,multiple: true       //是否允许多文件上传
            ,bindAction: '#startUploadId'
            ,accept: 'file' //允许上传的文件类型
            {#,acceptMime: 'text/plain'#}
            {#,ext: 'log|txt'#}
            {#,acceptMime: 'text/*'#}
            {#,size: 50 //最大允许上传的文件大小#}
            {#,before:function(obj){#}
            {#    obj.preview(function(index, file, result){#}
            {#        alert(file.name);#}
            {#    });#}

            ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }

            ,done: function(res, index, upload){
                if (res.code == 0){
                    layer.closeAll('loading'); //关闭loading
                    layer.alert("上传成功",{
                        icon:1
                        ,title:'提示'
                    });
                }
            }
        });






        //头工具栏事件  未全选
        table.on('toolbar(currentTableFilter)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                // 监听头工具删除操作  请确认是否全部删除
                case 'deleteAll':
                    layer.alert("请确认是否全部删除",{
                        icon: 7
                        ,title: '提示'
                        ,btn: ['全部删除', '取消']
                        ,shadeClose: true
                        ,shade: 0 //遮罩透明度
                        ,yes:function(index, layero){
                            $.post('/ProjectName/deleteProjectNameall/',{
                                deleteAll: "yes"
                            },function(data){
                                //根据后台返回的参数，来进行判断
                                if(data == "success"){
                                    layer.alert('全部删除成功',{
                                        icon:1
                                        ,title:'提示'
                                    },function(i){
                                        layer.close(i);
                                        layer.close(index);//关闭弹出层
                                        {#$("#book")[0].reset()//重置form#}


                                    });
                                    table.reload('currentTableId',{//重载表格
                                        page:{
                                            curr:1
                                        }
                                    })
                                }

                            });
                        }
                        ,btn2: function(index, layero){
                            layer.close(index);//关闭弹出层
                        }
                    });
                    break;


                // 监听头工具初始化操作  请确认是否初始化
                case 'initProjectName':
                    layer.alert("请确认是否初始化",{
                        icon: 3
                        ,title: '提示'
                        ,btn: ['初始化', '取消']
                        ,shadeClose: true
                        ,shade: 0 //遮罩透明度
                        ,yes:function(index, layero){
                            $.post('/ProjectName/initProjectName/',{
                                init: "yes"
                            },function(data){
                                //根据后台返回的参数，来进行判断
                                if(data == "success"){
                                    layer.alert('初始化成功',{
                                        icon:1
                                        ,title:'提示'
                                    },function(i){
                                        layer.close(i);
                                        layer.close(index);//关闭弹出层
                                        {#$("#book")[0].reset()//重置form#}
                                    });
                                    table.reload('currentTableId',{//重载表格
                                        page:{
                                            curr:1
                                        }
                                    })
                                }else{
                                    layer.alert(data,{
                                        icon:2
                                        ,title:'提示'
                                    },function(i){
                                        layer.close(i);
                                        layer.close(index);//关闭弹出层
                                        {#$("#book")[0].reset()//重置form#}
                                    });
                                    table.reload('currentTableId',{//重载表格
                                        page:{
                                            curr:1
                                        }
                                    })
                                }
                            });
                        }
                        ,btn2: function(index, layero){
                            layer.close(index);//关闭弹出层
                        }
                    });
                    break;


                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });



        {#//监听表格复选框选择#}
        {#table.on('checkbox(currentTableFilter)', function (obj) {#}
        {#    console.log(obj)#}
        {##}
        {#table.on('tool(currentTableFilter)', function (obj) {#}
        {#    var data = obj.data;#}
        {#    if (obj.event === 'edit') {#}
        {#        layer.alert('编辑行：<br>' + JSON.stringify(data))#}
        {#    } else if (obj.event === 'delete') {#}
        {#        layer.confirm('真的删除行么', function (index) {#}
        {#            obj.del();#}
        {#            layer.close(index);#}
        {#        });#}
        {#    }#}

        //监听行工具事件  查看资产信息
        table.on('tool(currentTableFilter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据（json格式的键值对）
                {#,layEvent = obj.event //获得 lay-event 对应的值（编辑、删除、添加）#}
                ,editList=[]; //存放获取到的那条json数据中的value值（不放key）
            $.each(
                data,function(name,value) {//循环遍历json数据
                    editList.push(value);
                    //将json数据中的value放入数组中（下面的子窗口显示的时候要用到）
                });

            if(obj.event === 'detail'){
                {#layer.msg('ProjectName：'+ data.ProjectName + ' 的查看操作');#}

                layer.open({
                    type: 1 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,scrollbar: true
                    ,area: ['auto']
                    ,maxHeight: "400px"
                    ,closeBtn: 1 //显示关闭按钮
                    ,title: ['查看资产信息','font-size:16px']
                    {#,btn: ['关闭']#}
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content:$("#addProjectNameOpenFormId")  //弹窗路径
                    ,offset: "70px"


                    ,success:function(layero){


                        {#var btn = layero.find('.layui-layer-btn');#}
                        {#btn.css('text-align', 'center');#}
                        $('#projectNameOpenId').val(data.projectName);
                        $('#projectDescOpenId').val(data.projectDesc);
                        $('#businessPeopleOpenId').val(data.businessPeople);
                        $('#businessPhoneOpenId').val(data.businessPhone);
                        $('#developPeopleOpenId').val(data.developPeople);
                        $('#developPhoneOpenId').val(data.developPhone);
                        $('#developmentCompanyOpenId').val(data.developmentCompany);
                        $('#commonOpenId').val(data.common);


                        {## 初始化表单，要加上，不然刷新部分组件可能会不加载#}
                        form.render();


                    },yes:function(i){
                        layer.close(i);
                        layer.close(index);//关闭弹出层
                        {#$("#book")[0].reset()//重置form#}
                        table.reload('currentTableId', {//重载表格
                            page: {
                                curr: 1
                            }
                        })
                    }

                });


            } else if(obj.event === 'del'){
                layer.msg('projectName：'+ data.projectName + ' 的删除操作');
                obj.del();
                {#layer.close(index);#}
                layer.confirm('您确定要删除该域名吗?',{btn: ['确定', '取消'],icon:7,title:"提示"}, function(){
                    $.post('/ProjectName/deleteProjectNameforline/',{
                        delete: "yes"
                        ,projectName: data.projectName
                        ,projectDesc: data.projectDesc
                    },function(data){
                        //根据后台返回的参数，来进行判断
                        if(data == "success"){
                            layer.alert('删除成功',{
                                icon:1
                                ,title:'提示'
                            },function(i){
                                layer.close(i);
                                layer.close(index);//关闭弹出层
                                {#$("#currentTableId")[0].reset()//重置form#}
                            });
                            table.reload('currentTableId',{//重载表格
                                page:{
                                    curr:1
                                }
                            })
                        }
                    });


                });

            }
            else if(obj.event === 'edit'){

                {#$("[name='a']").val("456");#}

                 {#layer.msg('ProjectName：'+ obj.data.ProjectName + ' 的编辑操作');#}
                layer.open({
                    type: 1 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['auto']

                    {#,area: ['300', '300']#}
                    ,closeBtn: 1 //显示关闭按钮
                    ,title: ['编辑资产信息','font-size:16px']
                    {#,btn: ['立即修改', '取消']#}
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,offset: "70px"
                    ,content:$("#addProjectNameOpenFormId")  //弹窗路径
                    ,success:function(layero){

                        var btn = layero.find('.layui-layer-btn');
                        btn.css('text-align', 'center');


                        {#var btn = layero.find('.layui-layer-btn');#}
                        {#btn.css('text-align', 'center');#}
                        $('#projectNameOpenId').val(data.projectName);
                        $('#projectDescOpenId').val(data.projectDesc);
                        $('#businessPeopleOpenId').val(data.businessPeople);
                        $('#businessPhoneOpenId').val(data.businessPhone);
                        $('#developPeopleOpenId').val(data.developPeople);
                        $('#developPhoneOpenId').val(data.developPhone);
                        $('#developmentCompanyOpenId').val(data.developmentCompany);
                        $('#commonOpenId').val(data.common);


                        {## 初始化表单，要加上，不然刷新部分组件可能会不加载#}
                        form.render();

                        {#$("#systemStatusOpenId").attr("checked",false);#}
                        {#$("#extranetAccessOpenId").attr("checked",false);#}
                        {#$("#extranetAccessOpenId").attr("checked",false);#}
                        {#$("[name=systemStatusOpen]:checkbox").attr("checked",false);#}
                        {#$("[name=systemStatusOpen]:checkbox").prop("checked",false);#}
                        {#$('input[name=cnvdServerity]').attr('value', data.cnvdServerity);#}
                        {#document.getElementById('cnvdServerity').value=data.cnvdServerity;#}

                        {#$('#cveUrlId') = data.cveUrl;#}

                        {## 刷新页面, 否则不显示#}
                        {#form.val('myFormFilter', {#}
                        {#    "developmentCompany":  $('#developmentCompanyOpenId').val() })#}


                    },yes:function(i){

                        {#调试单选康值#}
                        {#layer.alert($("#extranetAccessOpenId").is(':checked'));#}
                        {#layer.alert($("input[name='extranetAccessOpen']:checked").val();#}
                        {#return false;#}

                        $.ajax({
                            url: '/ProjectName/editProjectNamesubmit/',
                            type: 'post',
                            dataType: 'json', //预期返回类型
                            data: {
                                projectName: $('#projectNameOpenId').val(),
                                projectDesc: $('#projectDescOpenId').val(),
                                businessPeople: $('#businessPeopleOpenId').val(),
                                businessPhone: $('#businessPhoneOpenId').val(),
                                developPeople: $('#developPeopleOpenId').val(),
                                developPhone: $('#developPhoneOpenId').val(),
                                developmentCompany: $('#developmentCompanyOpenId').val(),
                                common: $('#commonOpenId').val(),


                            },
                            success:function(data){
                                if(data == "success"){

                                    layer.alert("修改成功",{ icon:1,title:'提示'},function(index){
                                        layer.close(index);
                                        window.location = ("/#/ProjectName/ProjectName/");

                                    });
                                }else{
                                    layer.alert(data,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                                }
                            },

                        });
                        layer.close(i);
                        layer.close(index);//关闭弹出层
                        {#$("#book")[0].reset()//重置form#}
                        table.reload('currentTableId', {//重载表格
                            page: {
                                curr: 1
                            }
                        })
                    }

                });
            }

        });






        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //系统状态开关
        form.on('switch(systemStatusFilter)', function (data) {
            layer.msg('开关checked：' + (this.checked ? '该域名有效' : '该域名已下线'), {
                offset: '6px'});
            if(this.checked){
                layer.tips('该域名有效', data.othis)
            }else{
                layer.tips('该域名已下线', data.othis)

            }
        });


        //外网访问开关
        form.on('switch(extranetAccessFilter)', function (data) {
            layer.msg('开关checked：' + (this.checked ? '开放互联网访问' : '仅本地访问'), {
                offset: '6px'});

            if(this.checked){
                layer.tips('开放互联网访问', data.othis)
            }else{
                layer.tips('仅广安、人济等本地访问', data.othis)
            }

        });


        //弹出层提交按钮
        form.on('submit(addProjectName-btn-OpenForm-Filter)', function (data) {
            $.ajax({
                url: '/ProjectName/editProjectNamesubmit/',
                type: 'post',
                dataType: 'json', //预期返回类型
                data: {
                    projectName: $('#projectNameOpenId').val(),
                    projectDesc: $('#projectDescOpenId').val(),
                    businessPeople: $('#businessPeopleOpenId').val(),
                    businessPhone: $('#businessPhoneOpenId').val(),
                    developPeople: $('#developPeopleOpenId').val(),
                    developPhone: $('#developPhoneOpenId').val(),
                    developmentCompany: $('#developmentCompanyOpenId').val(),
                    common: $('#commonOpenId').val(),


                },




                success:function(data){
                    if(data == "success"){

                        layer.alert("修改成功",{
                            icon:1
                            ,title:'提示'
                            ,yes: function(index, layero){
                                layer.close(index);
                                window.parent.location.reload(); //刷新父页面
                                {#window.location = ("/#/VulnManage/vulnlist/");#}
                            }
                        });

                    }else{
                        layer.alert(data,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                    }
                },





            });
            layer.close(i);
            layer.close(index);//关闭弹出层
            {#$("#book")[0].reset()//重置form#}
            table.reload('currentTableId', {//重载表格
                page: {
                    curr: 1
                }
            })
        });



        //弹出层取消按钮
        form.on('submit(addProjectNameCancleOpenForm-Filter)', function (data) {

            layer.closeAll();
            window.parent.location.reload(); //刷新父页面



        });




    });
</script>